/* ============== messages-page ============== */

.messages-page {
	padding: 60px 0;
}
.messages-sec {
	float: left;
	width: 100%;
}
.msgs-list {
	float: left;
	width: 100%;
	background-color: #fff;
	border-left: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}
.msg-title {
	float: left;
	width: 100%;
	padding: 36px 20px;
}
.msg-title > h3 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	float: left;
}
.msg-title > ul {
	float: right;
	position: relative;
	top: 1px;
}
.msg-title ul li {
	display: inline-block;
	margin-right: 15px;
}
.msg-title ul li:last-child {
	margin-right: 0;
}
.msg-title ul li a {
	color: #b2b2b2;
	font-size: 18px;
}
.messages-list {
	float: left;
	width: 100%;
}
.messages-list ul {
	float: left;
	width: 100%;
}
.messages-list ul li {
	float: left;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #eeeeee;
	cursor: pointer;
}
.messages-list ul li.active {
	background-color: #efefef;
}
.usr-msg-details {
	float: left;
	position: relative;
	width: 100%;
}
.usr-ms-img {
	float: left;
	width: 50px;
	position: relative;
}
.msg-status {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	background-color: #87a85a;
	position: absolute;
	top: -3px;
	right: 0;
	width: 6px;
	height: 6px;
}
.messages-list ul li.active .msg-status {
	border: 2px solid #ecf5fb;
	height: 10px;
	width: 10px;
}
.msg-notifc {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25px;
	height: 25px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	background-color: #e77667;
	text-align: center;
	line-height: 25px;
	font-size: 13px;
	color: #fff;
}
.usr-ms-img img {
	width: 100%;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.usr-mg-info {
	float: left;
	padding-left: 13px;
	margin-top: 4px;
}
.usr-mg-info h3 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
}
.usr-mg-info p {
	color: #686868;
	font-size: 16px;
}
.usr-mg-info p img {
	float: right;
	position: relative;
	top: 5px;
	padding-left: 5px;
}
.posted_time {
	position: absolute;
	top: 2px;
	right: 0;
	color: #b2b2b2;
	font-size: 14px;
}


/* =============== main-message-box ============= */

.main-conversation-box {
	float: left;
	width: 100%;
	background-color: #fff;
	position: relative;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.message-bar-head {
	float: left;
	width: 100%;
	background-color: rgba(255,255,255,0.95);
	padding: 20px;
	border-bottom: 1px solid #eaeaea;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
}
.message-bar-head .usr-msg-details {
	float: left;
	width: auto;
}
.message-bar-head > a {
	float: right;
	color: #b2b2b2;
	font-size: 20px;
	padding-top: 15px;
}
.main-message-box {
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 15.5px;
}
.messg-usr-img {
	position: absolute;
	bottom: 25px;
	left: 20px;
	width: 50px;
}
.messg-usr-img img {
	width: 100%;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.message-dt {
	float: left;
	width: auto;
	padding-left: 85px;
}
.main-message-box.ta-right {
	float: right;
}
.main-message-box.ta-right .messg-usr-img {
	left: auto;
	right: 20px;
	bottom: 25px;
}
.main-message-box.ta-right .message-dt {
	padding-left: 0;
	padding-right: 85px;
}
.main-message-box.ta-right .message-dt > span {
	float: right;
	width: auto;
}
.message-inner-dt {
	float: left;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	width: 100%;
}
.img-bx {
	background-color: #efefef;
	padding: 20px;
}
.message-inner-dt > img {
	display: inline-block;
	width: auto;
	margin-right: 5px;
}
.message-dt > span {
	color: #b2b2b2;
	font-size: 14px;
	float: left;
	width: 100%;
	margin-top: 7px;
}
.message-inner-dt > p {
	float: right;
	width: 60%;
	background-color: #87a85a;
	font-size: 14px;
	line-height: 22px;
	padding: 10px 35px 10px 35px;
	color: #fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}
.message-dt.st3 .message-inner-dt > p {
	background-color: #efefef;
	color: #686868;
	width: auto;
	padding: 10px 15px;
	float: left;
}
.message-dt.st3 .message-inner-dt > p img {
	float: right;
	position: relative;
	top: 3px;
	padding-left: 5px;
}
.main-message-box.st3 .messg-usr-img {
	bottom: 13px;
}
.messages-line {
	float: left;
	width: 100%;
	height: 604px;
}

/* ============== message-send-area ============ */

.message-send-area {
	float: left;
	width: 100%;
	background-color: #f3f5f7;
	padding: 25px 20px 15px 20px;
	border: 1px solid #eeeeee;
}
.message-send-area form {
	float: left;
	width: 100%;
}
.mf-field {
	float: left;
	width: 100%;
}
.mf-field input {
	float: left;
	width: 80%;
	background-color: #fff;
	color: #b2b2b2;
	font-size: 16px;
	padding: 0 15px;
	border: 1px solid #e6e6e6;
	height: 45px;
}
.mf-field button {
	float: left;
	width: 17%;
	background-color: #87a85a;
	height: 45px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	border: 0;
	margin-left: 15px;
	cursor: pointer;
}
.message-send-area form > ul {
	float: left;
	width: 100%;
	margin-top: 15px;
}
.message-send-area form > ul li {
	display: inline-block;
	margin-right: 20px;
}
.message-send-area form > ul li a {
	color: #b2b2b2;
	font-size: 18px;
}